*.user
*.exe
*Debug*
*.suo
*sdf
*.pdb
Singleton/Singleton/Release/Singleton.log
*.tlog
Singleton/Singleton/Release/Source.obj

cmake_tutorial/chapter1-2/build/cmake_install.cmake

cmake_tutorial/chapter1-2/build/CMakeCache.txt

cmake_tutorial/chapter1-2/build/CMakeFiles/2.8.12.1/CMakeSystem.cmake

cmake_tutorial/chapter1-2/build/CMakeFiles/2.8.12.1/CompilerIdC/CMakeCCompilerId.c

cmake_tutorial/chapter1-2/build/CMakeFiles/2.8.12.1/CompilerIdC/CompilerIdC

*.pbxproj

cmake_tutorial/chapter1-2/build/CMakeFiles/2.8.12.1/CompilerIdCXX/CMakeCXXCompilerId.cpp

*build*

read_hdf5/.idea/*
